
a.logo {

    font-size: 22px;

    font-weight: 300;

    color: #fed189;

    float: left;
    margin-left: 10px;
    margin-top: 15px;

    text-transform: uppercase;

}



a.logo:hover, a.logo:focus {

    text-decoration: none;

    outline: none;

}



a.logo span {

    color: #688a7e;

}

.lite{

    color: #00a0df !important;

}
